!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title IndependenceDay
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if user_signed_in?
      Logged in as
      = succeed "." do
        %strong= current_user.email
      = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
      |
      \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
    - else
      = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
      |
      \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}

    - flash.each do |name, msg|
      = content_tag :div, msg, class: name
    = yield
